#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  margin: 0.5rem;
}

.tabs {
  margin-bottom: 1rem;
}

.tabs button {
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.tabs button.active {
  background-color: #ccc;
}
