.data-displayer {
  padding: 1.5rem;
  background: #f0f0f0;
  border-radius: 8px;
  color: #333;
}

.data-displayer hr {
  margin: 1rem 0;
}

.character-info {
  text-align: left;
  margin-top: 1rem;
}

.solution-info {
    margin-top: 1.5rem;
    padding: 1rem;
    background: #d1ecf1;
    border-radius: 8px;
    text-align: left;
}

.solution-info h4 {
    margin-top: 0;
}

.solution-info ol {
    margin-top: 0.5rem;
}
